				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.facebook.com/TranquilityDeveloper/" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://github.com/TranquilityDev" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
						
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: Tranquility</a></li>
					</ul>
				</footer>