<!DOCTYPE html> 
<html>

	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="stylesheets/Tcss/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!-- T-ThemeScripts -->
		<script src="javascripts/jquery/jquery.min.js"></script>
		<script src="javascripts/jquery/jquery.scrolly.min.js"></script>
		<script src="javascripts/jquery/jquery.dropotron.min.js"></script>
		<script src="javascripts/jquery/jquery.scrollex.min.js"></script>
		<script src="javascripts/Ttheme/skel.min.js"></script>
		<script src="javascripts/Ttheme/util.js"></script>
		<!--[if lte IE 8]><script src="stylesheets/js/ie/respond.min.js"></script><![endif]-->
		<script src="javascripts/Ttheme/main.js"></script>
	</head>

	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
			<% include menu.ejs %> 
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>Hi I'm Tranquility</h2>
							<p>Welcome to my web <br />
							Just enjoy it  :) </p>
						</header>
						<span class="image"><img src="images/tranquility.png" alt="" /></span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="images/校門口.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>Feng Chia University</h2>
										<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>1961年本校創建於臺中市北屯觀音山，兩年後遷至西屯現址，1980年改制為大學。創校逾50年，規模漸備，校譽日隆，本校目前設有工、商、理、人文社會、資訊電機、建設、經營管理、金融、國際科技與管理、建築專業等10個學院</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p>，招生日間學制計有37個學士班、42個碩士班、14個博士班，進修學制計有17個碩士在職專班、3個進修學士班；共頒授57種學士學位、76種碩士學位及14種博士學位。全校大學部、碩博士班及在職進修學生逾2萬人，教職員工近2,200人，已培育出17萬名社會中堅，畢業生整體表現自2008年起每年均名列臺灣1,000大企業最愛大學生前10名，顯示優質的逢甲畢業生一直是企業最愛進用的人才。</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="images/商學院.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Introduction1</h2>
							<p>介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</p>
						</header>
						<p>聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方聽說很多妹的地方</p>
						<ul class="actions">
							<li><a href="#" class="button">More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="images/擠擠擠.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Introduction2</h2>
							<p>介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹</p>
						</header>
						<p>最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校最好吃的學校有夠擠有夠擠有夠擠有夠擠有夠擠</p>
						<ul class="actions">
							<li><a href="#" class="button">More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->

				<section id="four" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Contact</h2>
							<p>laalalalalala</p>
						</header>
						<form method="post" action="#" class="container 50%">
							<div class="row uniform 50%">
								<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
								<div class="4u$ 12u$(xsmall)"><input type="submit" value="Sent" class="fit special" /></div>
							</div>
						</form>
					</div>
				</section>

			<!-- Footer -->
			<% include footer.ejs %> 
		</div>
	</body>

</html>
