<!DOCTYPE html> 
<html>

	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="stylesheets/Tcss/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!-- Scripts -->
		<script src="javascripts/jquery/jquery.min.js"></script>
		<script src="javascripts/jquery/jquery.scrolly.min.js"></script>
		<script src="javascripts/jquery/jquery.dropotron.min.js"></script>
		<script src="javascripts/jquery/jquery.scrollex.min.js"></script>
		<script src="javascripts/Ttheme/skel.min.js"></script>
		<script src="javascripts/Ttheme/util.js"></script>
		<!--[if lte IE 8]><script src="stylesheets/js/ie/respond.min.js"></script><![endif]-->
		<script src="javascripts/Ttheme/main.js"></script>
		<!--Tranquility MemberBoard	-->
		
	</head>

	
	<!--Jus activity header, but why my Tranquility logo is not...in center... lol-->	
	<div id="page-wrapper">

			<!-- Header -->
			<% include menu.ejs %> 
	</div>
	<!--Main dashboard -->	
	<body>
<!--	Main	-->		
				<section id="one" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Member</h2>
							<p>指導老師</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/吳榮彬.ico" class="img-circle">
									<h3>吳榮彬</h3>
									<p>統計系老師</p>
								</section>
							</div>
						</div>
						
<!--	Suppot	-->						
						<header class="major">
							<h3>支持的老師</h3>
						</header>	
						</div>	
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/李景松.ico" class="img-circle">
									<h3>李景松</h3>
									<p>電子系老師</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/吳鴻璋.ico" class="img-circle">
									<h3>吳鴻璋</h3>
									<p>電子系老師</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/劉堂傑.ico" class="img-circle">
									<h3>劉堂傑</h3>
									<p>電子系老師</p>
								</section>								
							</div>
						</div>
<!--	Great STAT Students	-->
						<header class="major">
							<h3>超強的R</h3>
						</header>	
						</div>	
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/陳家揚.ico" class="img-circle">
									<h3>陳家揚</h3>
									<p>統計系學長</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/陳欣瑜.ico" class="img-circle">
									<h3>陳欣瑜</h3>
									<p>統計系學姊</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/葉穎謙.ico" class="img-circle">
									<h3>葉穎謙</h3>
									<p>統計系學長</p>
								</section>	
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/張珮婕.ico" class="img-circle">
									<h3>張珮婕</h3>
									<p>統計系學姊</p>
								</section>									
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/沙昱.ico" class="img-circle">
									<h3>沙昱</h3>
									<p>都計系學長</p>
								</section>									
							</div>
						</div>

<!--	Suggest -->

						<header class="major">
							<h3>最強建議團</h3>
						</header>	
						</div>	
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/彭鈞昱.ico" class="img-circle">
									<h3>彭鈞昱</h3>
									<p>資訊系學長</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/李淑因.ico" class="img-circle">
									<h3>李淑因</h3>
									<p>資訊系學姊</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/姚學呈.ico" class="img-circle">
									<h3>姚學呈</h3>
									<p>電子系學長</p>
								</section>	
								<section class="4u 6u(medium) 12u$(xsmall)">
									<img src="images/Member/Zhe-xing Guo.ico" class="img-circle">
									<h3>Zhe-xing Guo</h3>
									<p>十年的好兄弟...</p>
								</section>									
							</div>
						</div>						
					</div>
				</section>

	<!--Tranquility :) -->			
	</body>
		<!--Tranquility :) -->	
		<% include footer.ejs %>
</html>
