				<header id="header">
					<h3 id="logo"><a href="/"> Tranquility</a></h3>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li>
								<a href="#">Functions</a>
								<ul>
<!--								<li>
										<a href="#">Main</a>
										<ul>
											<li><a href="/databoard">FCU Analysis</a></li>
											<li><a href="/focus">TNews</a></li>
											<li><a href="/memberboard">Memberboard</a></li>
											<li><a href="#">Option 4</a></li>
										</ul>
									</li>
-->
									<li><a href="/databoard">FCU-Analysis</a></li>
									<li><a href="/focus">T-News</a></li>
									<li><a href="/ibm">T-IBM (test)</a></li>										
									<li><a href="/memberboard">T-Memberboard</a></li>								
								</ul>
							</li>
							<li><a href="#">NoFunctions</a></li>
<!--							<li><a href="#" class="button special">Sign Up</a></li>		-->
						</ul>
					</nav>
				</header>